header {
    background-color: white;
    max-width: 1200px;
    margin: 0 auto;

 }

 .navbar-nav {
    margin-left: auto;

}

.bg-light {
    background-color: white!important;
}

h1 {

    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 100%;
    padding-bottom: 10px;
}
    
h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 400;
}
 
p {
    margin-bottom: 2%;
}

li {
    list-style-type: none;
}

.logo {
    max-width: 150px;
    padding-top: 12px;
}


